<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE root [
  <!--Amend all details below IDE address is the EU address US users will need to change this -->
  <!ENTITY accessToken "XXXXXX FROM APP XXXXXXXXX">
  <!ENTITY appURL "XXXXXX FROM APP XXXXXXXXX">
]>
<config>
  <!--Optional Settings - Default Polling is 30 seconds-->
  <pingSettings
  checkInterval="30" c="the interval is in seconds"
  timeOut="1000" d="the interval is in milliseconds"
  debugLevel="1"
  heartBeat="False"
	/>
  <theEndpoints
		accessToken="&accessToken;"
    Online="&appURL;/statechanged/online"
		Offline="&appURL;/statechanged/offline"
	/>

  <!--Add All IP addresses or host names here - remove examples below -->
  <hostList>
    <item HOST="google.com" />
    <item HOST="192.168.1.1" />
    <item HOST="SERVER1" />
  </hostList>
</config>